body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}

#container{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .empty, .point{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty, .point{
    background-color: #eaedef;
}

.number, .operator, .point{
    cursor: pointer;
}
.empty{
    font-size: 12px;
}

.operator{
    background-color: #eaedef;
    color: teal;
}

.operator:active, .number:active, .point:active{
    font-size: 30px;

}

.operator:focus, .number:focus, .empty:focus, .point:focus{
    outline: 0;
}

button:nth-child(20){
    color: #eaedef;
    background-color:teal;
}

button:nth-child(17){
    color: black;
}
